<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<style>
body, h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, sans-serif;
}
</style>

<div class="w3-container w3-light-gray">
<center>
<img src="feevalelogo.png" alt="Avatar" style="width:20%">
<img src="suslogo.png" alt="Avatar" style="width:10%">
<img src="ifrnlogo.png" alt="Avatar" style="width:20%">
<h2><b>Consumo de Slow Fashion no Brasil</b></h2>
<p>Quer saber seu perfil de orientação ao consumo Slow Fashion?</p>
</center>
</div>

<div class="w3-bar w3-khaki">
  <a href="#" class="w3-bar-item w3-button">Home</a>
  <a href="team.html" class="w3-bar-item w3-button">Sobre o projeto</a>
  <a href="#" class="w3-bar-item w3-button">Equipe</a>
  <a href="#" class="w3-bar-item w3-button">Publicações</a>
</div>

<div class="w3-container w3-green">
  <h2>Instruções</h2>
  <p>Para descobrir seu perfil, você deve ler a conceituação abaixo sobre Slow Fashion, e em seguida responder as questões que serão solicitadas. Por fim, basta clicar em "Gerar".</p>
</div>

<blockquote class="w3-panel w3-leftbar w3-light-grey">
  <p class="w3-small">
  <i>O movimento slow fashion compreende projetar, produzir, consumir e viver a moda de forma mais saudável, considerando a sustentabilidade e a justiça ambiental, social, ética e moral, produzindo roupas que mantenham a atratividade estética e ao mesmo tempo tenham consciência de seus efeitos negativos e positivos para o meio ambiente.<br>
<br>
Pontos positivos do slow fashion:<br>
<br>
* Valorização de todos os trabalhadores da cadeia produtiva;<br>
* Valorização do uso da mão-de-obra e dos conhecimentos das costureiras e dos designers locais;<br>
* Preservação do ambiente e da sustentabilidade local e global.<br>
<br>
Pontos negativos<br>
<br>
* Peças com preço final muito alto;<br>
* Roupa com aspectos estéticos antigos;<br>
* Potencialização do consumo em épocas específicas do ano.</i></p>
    <p class="w3-small">SOLINO, L. J. S.; TEIXEIRA, B. M. L.; DANTAS, I. J. M. The sustainability in fashion: a systematic literature review on slow fashion. International Journal for Innovation Education and Research, v. 8, n. 10, p. 164-202, out. 2020. Disponível em: ijier.net/ijier/article/view/2670. Acesso em 24 dez. 2020.
</p>
</blockquote>

<form action=>

<div class="w3-panel w3-border-top w3-border-bottom w3-border-green">
  <p><b>Envolvimento com Moda</b></p>
</div> 

<div class="w3-panel w3-border-left">
  <p>Para mim, pessoalmente, a moda é um produto importante</p>
<input type="radio" name="webmaster1" value="5"/>Concordo Totalmente<br />
<input type="radio" name="webmaster1" value="4"/>Concordo<br />
<input type="radio" name="webmaster1" value="3"/>Neutro<br />
<input type="radio" name="webmaster1" value="2"/>Discordo<br />
<input type="radio" name="webmaster1" value="1"/>Discordo Totalmente<br />
</div>

<div class="w3-panel w3-border-left">
  <p>Moda significa muito para mim</p>
<input type="radio" name="webmaster2" value="5"/>Concordo Totalmente<br />
<input type="radio" name="webmaster2" value="4"/>Concordo<br />
<input type="radio" name="webmaster2" value="3"/>Neutro<br />
<input type="radio" name="webmaster2" value="2"/>Discordo<br />
<input type="radio" name="webmaster2" value="1"/>Discordo Totalmente<br />
</div>

<div class="w3-panel w3-border-left">
  <p>A moda é uma parte importante da minha vida</p>
<input type="radio" name="webmaster3" value="5"/>Concordo Totalmente<br />
<input type="radio" name="webmaster3" value="4"/>Concordo<br />
<input type="radio" name="webmaster3" value="3"/>Neutro<br />
<input type="radio" name="webmaster3" value="2"/>Discordo<br />
<input type="radio" name="webmaster3" value="1"/>Discordo Totalmente<br />
</div>

<div class="w3-panel w3-border-left">
  <p>Eu penso muito sobre moda</p>
<input type="radio" name="webmaster4" value="5"/>Concordo Totalmente<br />
<input type="radio" name="webmaster4" value="4"/>Concordo<br />
<input type="radio" name="webmaster4" value="3"/>Neutro<br />
<input type="radio" name="webmaster4" value="2"/>Discordo<br />
<input type="radio" name="webmaster4" value="1"/>Discordo Totalmente<br />
</div>

<div class="w3-panel w3-border-left">
  <p>Estou muito envolvido(a) com moda</p>
<input type="radio" name="webmaster5" value="5"/>Concordo Totalmente<br />
<input type="radio" name="webmaster5" value="4"/>Concordo<br />
<input type="radio" name="webmaster5" value="3"/>Neutro<br />
<input type="radio" name="webmaster5" value="2"/>Discordo<br />
<input type="radio" name="webmaster5" value="1"/>Discordo Totalmente<br />
</div>

<div class="w3-panel w3-border-left">
  <p>Eu estou interessado(a) em moda</p>
<input type="radio" name="webmaster6" value="5"/>Concordo Totalmente<br />
<input type="radio" name="webmaster6" value="4"/>Concordo<br />
<input type="radio" name="webmaster6" value="3"/>Neutro<br />
<input type="radio" name="webmaster6" value="2"/>Discordo<br />
<input type="radio" name="webmaster6" value="1"/>Discordo Totalmente<br />
</div>

<center>

<button class="w3-button w3-round-xxlarge w3-xlarge w3-green">Gerar</button>
</center>

</form>

</body>
</html> 