<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<style>
body, h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, sans-serif;
}
</style>

<div class="w3-container w3-light-gray">
<center>
<img src="feevalelogo.png" alt="Avatar" style="width:20%">
<img src="suslogo.png" alt="Avatar" style="width:10%">
<img src="ifrnlogo.png" alt="Avatar" style="width:20%">
<h2><b>Consumo de Slow Fashion no Brasil</b></h2>
<p>Quer saber seu perfil de orientação ao consumo Slow Fashion?</p>
</center>
</div>

<div class="w3-bar w3-khaki">
  <a href="#" class="w3-bar-item w3-button">Home</a>
  <a href="#" class="w3-bar-item w3-button">Sobre o projeto</a>
  <a href="#" class="w3-bar-item w3-button">Equipe</a>
  <a href="#" class="w3-bar-item w3-button">Publicações</a>
</div>

<div id="allMembersContainer">
	<style>.line-break{grid-column:1/-1;height: 5em;}</style>
	<div class="team">
		<img class="memberImage" alt="Ítalo José de Medeiros Dantas" src="italo.jpg" style="width:10%">
		<img class="memberImage" alt="Lívia Solino" src="livia.jpg" style="width:10%">
</div>

</body>
</html> 